<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif; background: rgb(83, 59, 83); text-align: center; color: rgb(239, 194, 239);">
    <h1>Welcome to Magic 8Ball!</h1>
    <img src="https://play-lh.googleusercontent.com/K-9pl-NW_7H-AKb1su0KkTPt07rfHmGTqUxMguM6Y4G9gI8DhkqifyJ8gDiZ6s0mQLk" height="400px">
    <form action:="{{signup}}" method="POST">
        <label for="question">Ask the Magic 8ball...</label> <br>
        <input required type="text" id="question" name="question"> 
    </form>
    <a href="answer ">
        <button>To the 8ball..!</button>
    </a>
</body>
</html>