<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8BALL SAYS...</title>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif; background: rgb(83, 59, 83); text-align: center; color: rgb(239, 194, 239);">
    <h1>The 8ball says....</h1>
    <img src="{{answerImg}}" height="400px">
    <a href="eightball"> <br>
        <button>Ask again?</button>
    </a>
</body>
</html>